[alias]
    st=status
    co=checkout
    hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    delete-untracked=clean -fd

[merge]
	ff = false
	tool = meld
    conflictstyle = diff3
[user]
	name = Ashish Chandwani
	email = ashish.s.chandwani@gmail.com
[push]
	default = simple
[pull]
    rebase = preserve
[diff]
	tool = meld
[core]
	excludesfile = /home/ashish/.gitignore_global
[rerere]
	enabled = 1
